<!doctype html>
<title>WLD</title>
<h1>Welcome to weightlifters delight</h1>

<p>What do you wanna log</p>

<h3 style="color:red;">{{ error }}</h1>
<h3 style="color:green;">{{ notif }}</h1>

<form action="/sendres" method="POST">
	<select name="lift" id="lift">
		{% for entry in entrys%}
		<option> {{ entry.lift }}
		{% endfor %}
	</select>
	weight:
	<input type="text" name="weight">
	<br>
	<input type="submit" value="add to log">
</form>

<button onclick="window.location.href='/profile';">To profile</button>

{% for result in publics %}
<hr>
lift: {{result.lift}}
<br>
weight: {{ result.weight }}
<br>
lifter: {{ result.username }}

date: {{result.date}}
<form action="/result/{{result.id}}" method="POST">
	<input type="submit" value="Open">
</form>
<hr>
{% endfor %}
