<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div style="padding: 10px;">
	<form action="/login" method="POST">
		<p> Username: <br>
			<input type="text" name="username">
		</p>
		<p> Password: <br>
			<input type="password" name="password">
		</p>		
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		<input type="submit" value="Log in" class="btn btn-primary">
	</form>
	<button onclick="window.location.href='/register';" class="btn btn-primary">Register</button>
</div>
