<!doctype html>
<Title>WLD</Title>
<div style="padding-top: 10px;padding-left: 10px">
	<button onclick="window.location.href='/';" class="btn btn-primary">Home</button>
	<button onclick="window.location.href='/profile';" class="btn btn-primary">To profile</button>
	{% if admin %}
	<button onclick="window.location.href='/users';" class="btn btn-primary">To users</button>
	{% endif %}
	 <button onclick="window.location.href='/logout';" class="btn btn-primary">Log out</button>
 </div>
<hr>
<div style="padding-left: 10px;">
	<h1> {% block header %} {% endblock %} </h1>
	{% block content %}
	{% endblock content %}
</div>

