<!doctype html>
<Title>WLD</Title>
<h1>Your results {{session.username}}</h1>

	<input onclick="window.location.href='/profile/Squat';"
		type="radio" name="lift" value="Squat"> Squat
	<input onclick="window.location.href='/profile/Deadlift';"
		type="radio" name="lift" value="DL"> DL
	<input onclick="window.location.href='/profile/Bench';"
		type="radio" name="lift" value="Bench"> Bench
	<input onclick="window.location.href='/profile/Clean';"
		type="radio" name="lift" value="Clean"> Clean
	<input onclick="window.location.href='/profile/Jerk';"
		type="radio" name="lift" value="Jerk"> Jerk
	<input onclick="window.location.href='/profile';"
		type="radio" name="lift" value="Clear"> Clear filter

{% for result in results %}
<hr>
lift: {{result.lift}}
<br>
weight: {{ result.weight }}
<br>

date: {{result.date}}

<form action="/result/{{result.id}}" method="POST">
	<input type="submit" value="Open">
</form>
<form action="/remove/{{result.id}}" method="POST">
	<input type="submit" value="Remove">
</form>
<hr>
{% endfor %}

<br>
<button onclick="window.location.href='/logout';">Log out</button>
<br>
<button onclick="window.location.href='/';">Home</button>
