<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% extends "layout.html" %}
{% block content %}
{% if profile %}
<h1>Your results {{user.username}}</h1> 
{% else %}
<h1>Results of {{viewed.username}}</h1>
{% endif %}
<h2>Filter</h2>

<form action="/setselected/{{viewed.id}}" method="POST">
	<input onclick="this.form.submit()"
		type="radio" name="lift" value="Squat"> Squat
	<input onclick="this.form.submit()" 
		type="radio" name="lift" value="Bench"> Bench
	<input onclick="this.form.submit()"
		type="radio" name="lift" value="Deadlift"> Deadlift
	<input onclick="this.form.submit()"
		type="radio" name="lift" value="Snatch"> Snatch
	<input onclick="this.form.submit()"
		type="radio" name="lift" value="C&J"> Clean & Jerk
	<input onclick="this.form.submit()"
		type="radio" name="lift" value="%"> Clear filter
</form>

<form action="/setorder/{{viewed.id}}" method="POST">
	Sort by:
	<select name="order" id="order" class="btn btn-primary dropdown-toggle">
		<option label="Order"></option>
		{% for order in orders %}
		<option	onclick="this.form.submit()"
			value={{ order[1] }}>
		{{ order[0] }}
		</option>
		{% endfor %}
	</select>
</form>
{% for result in results %}
<hr>
lift: {{result.lift}}
<br>
weight: {{ result.weight }}
<br>

date: {{result.date}}
<form action="/result/{{result.id}}" method="POST">
	<input type="submit" value="Open" class="btn btn-primary">
</form>
<form action="/remove/{{result.id}}" method="POST">
	<input type="submit" value="Remove" class="btn btn-primary">
</form>
<hr>
{% endfor %}
{% endblock content %}
