<!doctype html>
<Title>WLD</Title>
<h1>Results of  {{user.username}}</h1> 
<h2>Filter</h2>

	<input onclick="window.location.href='/user/{{user.id}}/Squat';"
		type="radio" name="lift" value="Squat"> Squat
	<input onclick="window.location.href='/user/{{user.id}}/Deadlift';"
		type="radio" name="lift" value="Deadlift"> Deadlift
	<input onclick="window.location.href='/user/{{user.id}}/Bench';"
		type="radio" name="lift" value="Bench"> Bench
	<input onclick="window.location.href='/user/{{user.id}}/Clean';"
		type="radio" name="lift" value="Clean"> Clean
	<input onclick="window.location.href='/user/{{user.id}}/Jerk';"
		type="radio" name="lift" value="Jerk"> Jerk
	<input onclick="window.location.href='/user/{{user.id}}';"
		type="radio" name="lift" value="Clear"> Clear filter

{% for result in results %}
<hr>
lift: {{result.lift}}
<br>
weight: {{ result.weight }}
<br>

date: {{result.date}}
<form action="/user/{{results.id}}" method="POST">
	<input type="submit" value="Open">
</form>
<form action="/remove/{{result.id}}" method="POST">
	<input type="submit" value="Remove">
</form>
<hr>
{% endfor %}

<br>
<button onclick="window.location.href='/logout';">Log out</button>
<br>
<button onclick="window.location.href='/';">Home</button>
