<!doctype html>
<Title>WLD</Title>
<h1>Results of  {{name}}</h1> 
<form action="/filter" method="POST">
	<h2>Filter</h2>
	<input onchange="this.form.submit();"
		type="radio" name="lift" value="Squat"> Squat
	<input onchange="this.form.submit();"
		type="radio" name="lift" value="DL"> DL
	<input onchange="this.form.submit();"
		type="radio" name="lift" value="Bench"> Bench
	<input onchange="this.form.submit();"
		type="radio" name="lift" value="Clean"> Clean
	<input onchange="this.form.submit();"
		type="radio" name="lift" value="Jerk"> Jerk
	<input onchange="this.form.submit();"
		type="radio" name="lift" value="Clear"> Clear filter
</form>

{% for result in results %}
<hr>
lift: {{result.lift}}
<br>
weight: {{ result.weight }}
<br>

date: {{result.date}}
<form action="/user/{{results.id}}" method="POST">
	<input type="submit" value="Open">
</form>
<form action="/remove/{{result.id}}" method="POST">
	<input type="submit" value="Remove">
</form>
<hr>
{% endfor %}

<button onclick="window.location.href='/logout';">Log out</button>
<br>
<button onclick="window.location.href='/';">Home</button>
