<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% extends "layout.html" %}
{% block content %}
<h1> Users: </h1>
<hr>

{% for user in users %}
Name: {{user.username}}
<br>

CLASSES:
<br>
{% if user.wl_div %}
WL {{user.wl_div}}{{user.wl_max}}
{% endif %}
<br>
{% if user.pl_div %}
PL {{user.pl_div}}{{user.pl_max}}
{% endif %}
<br>
<form action="/user/{{user.id}}" method="GET">
	<input type="submit" value="Open" class="btn btn-primary">
</form>
<form action="/removeu/{{user.id}}" method="GET">
	<input type="submit" value="Remove" class="btn btn-primary">
</form>
<hr>
{% endfor %}
{% endblock content %}
